.container{
    min-height: calc(100vh - 4.111rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}
.subheading{
    line-height: 2.7rem;
    text-align: center;
    max-width: 70%;
    font-size: 1.5rem;
    font-weight: 400;
}
.action{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.btn{
    display: flex;
    align-items: center;
}